<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!--APPLICATION CULTURE-->
    <add key="ApplicationCulture" value="fr-FR"/>   

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDuplexWCFService" receiveTimeout="00:00:20" sendTimeout="00:00:20" openTimeout="00:00:20" 
                 clientBaseAddress="http://localhost:8088/clientCallbackUrl"></binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/DuplexWCFService/DuplexWCFService/"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplexWCFService"
        contract="DuplexWCFServiceClient.IDuplexWCFService" name="WSDualHttpBinding_IDuplexWCFService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
